.owl-carousel{
    float: left;
}

.owl-carousel, 
.owl-stage-outer,
.owl-stage,
.owl-item,
.owl-lazy{
    height: 100%;
    position: relative;
}
.owl-item > img {
    height: 100%;
}

.owl-lazy{
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.owl-prev,
.owl-next{
    position: absolute;
    background: rgba(0,0,0,.5);
    top: 50%;
    left: 0;
    padding: 20px 12px;
    color: #ffffff;
}

.owl-prev:hover,
.owl-next:hover{
    background: #e00000;
}

.owl-prev{
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
}

.owl-next{
    left: auto;
    right: 0;
    border-radius: 4px 0 0 4px;
    -webkit-border-radius:4px 0 0 4px;
}
