.owl-carousel{
    float: left;
}

.owl-carousel, 
.owl-stage-outer,
.owl-stage,
.owl-item,
.owl-lazy{
    height: 100%;
    position: relative;
    
}
.owl-item > img {
    width: 100%;
}

.owl-item{
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.owl-prev,
.owl-next{
    position: absolute;
    background: rgba(0,0,0,.5);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    left: 0;
    padding: 20px 12px;
    color: #ffffff;
}

.owl-prev:hover,
.owl-next:hover{
    background: #e00000;
}

.owl-prev{
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
}

.owl-next{
    left: auto;
    right: 0;
    border-radius: 4px 0 0 4px;
    -webkit-border-radius:4px 0 0 4px;
}

.owl-dots{
    position: absolute;
    width: 100%;
    z-index: 10;
    bottom: 15px;
    text-align: center;
}

.owl-dots .owl-dot{
    background: #ffffff;
    display: inline-block;
    width: 35px;
    height: 10px;
    margin: 4px;
}

.owl-dots .owl-dot.active{
    background: #e00000;
}

/*----- CAROUSEL MAIN -----*/

#carousel_main{
    height: calc(80% - 80px);
}

